.buton-logout {
  font-weight: bold;
  color: #fff;
  background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  width: 150px;
}
