html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgb(0, 5, 43),
    rgb(13, 0, 48),
    rgb(13, 0, 53),
    rgb(13, 0, 48),
    rgb(19, 0, 70),
    rgb(13, 0, 31)
  );
  overflow: hidden;
}

.header {
  padding: 5px;
  margin: 30px 0;
  border-radius: 20px;
  width: 100%;
  height: 60px;
  background: linear-gradient(
    120deg,
    rgb(255, 150, 246),
    rgb(179, 107, 247),
    white
  );
  font-weight: bold;
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: Arial, sans-serif;
  color: white;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    120deg,
    rgb(22, 0, 43),
    rgb(22, 0, 60),
    rgb(22, 0, 43),
    rgb(22, 0, 60),
    rgb(22, 0, 43),
    rgb(22, 0, 60)
  );
  padding: 2rem 3rem;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.form:hover {
  box-shadow: 3px 3px 5px rgba(106, 84, 228, 0.3);
}

.form h2 {
  margin: 0 0 1rem 0;
  text-align: center;
  font-weight: 700;
}

.form input {
  padding: 0.6rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.form button {
  background-color: #00509e;
  color: white;
  border: none;
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.form button:hover {
  background-color: #003f7f;
}

h1 {
  color: white;
}

.link {
  display: inline-block;
  color: #aad4ff;
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 50px;
}
.link:hover {
  color: #5599ff;
}

.form {
  animation: fadeIn 0.6s ease-out;
}

.inputs {
  width: 300px;
}

input {
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 8px;
  width: 100%;
  font-size: 1rem;
}

input:focus {
  outline: none;
  box-shadow: 0 0 8px #00f2fe;
}

.form-message {
  margin-top: 1rem;
  color: #ff6b6b;
  font-weight: bold;
}

form > div + div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.button {
  width: 200px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
