html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(
    110deg,
    rgb(0, 5, 43),
    rgb(13, 0, 48),
    rgb(13, 0, 53),
    rgb(13, 0, 48),
    rgb(19, 0, 70),
    rgb(13, 0, 31)
  );
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}
