.app {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    110deg,
    rgb(0, 5, 43),
    rgb(13, 0, 48),
    rgb(13, 0, 53),
    rgb(13, 0, 48),
    rgb(19, 0, 70),
    rgb(13, 0, 31)
  );
}
